/* 

*/

:root {
  --SiteDarkBlue : #05386B;
  --SiteLightGreen: #84d6c6;
  --SiteGreen: #5CDB95;
  --SiteWhite: #EDF5E1;
}

.App {
  text-align: center;
  background-color: var(--SiteGreen);
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body {
  /* padding-top: 70px; */
  background-color: var(--SiteGreen);
}

/* Set custom colors for color scheme: 
Dark Blue: #05386B
Light Green: #379683
Green: #5CDB95
White: #EDF5E1

*/

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.recipe-card-container{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  border: 3px solid black;
  margin: 10px 10px 10px 10px;
}

.recipe-card{
  margin-bottom: 20px;
}

.recipe-container{
  margin-bottom: 20px;
  display: flex;

}

.recipe-pic {
  max-width: 50%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.card {
  border: 10px solid;
  border-color: var(--SiteDarkBlue);
}


img.detailedRecipePic {
  margin-left: auto;
  margin-right: auto;
  max-width: 33%;
  height: auto;

}

input.largerCheckbox {
  width: 30px;
  height: 30px;
}

.h3.title {
  color: var(--SiteDarkBlue)
}

.h4.title {
  color: var(--SiteDarkBlue)
}

.list-group-item {
  text-align: left;
}

.label {
  display: flex;
  align-items: center;
}

.input[type=checkbox] {
  flex: none;
}

.tab-pane {
  text-align: left;
}

.navbar {
  background-color: var(--SiteGreen);
}

/* Images CSS */

.about-logo {
  max-width: 50px;
  height: 50px;
}

.profilePic {
  max-width: 25%;
}
